
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: gray;
    background-repeat:no-repeat ;
    padding: 0;
    margin: 0;
   
 }
 header{
   position: sticky;
   top: 0px;
 }
 
 
 nav {
     display: flex;
     flex-direction: row;
 }
  nav ul{
   display: flex;
   flex-direction: row;
   float: left;
  }
     
     nav ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         background-color: #333;
 
     }
    nav li a{
         display: inline;
         color: white;
         float: right;
         text-align: center;
         padding: 25px 40px;
         text-decoration: none;
       }
      nav li a:hover {
         background-color: forestgreen;
       }
 
       img{
         
         z-index: -1;
         margin-left: 300px;
       }
 
     
       a{
         color: white;
       }
       
       .linkje{
       display: block;
       padding-top: 50px;
       padding-left: 400px;
       }
 
       .linkje a {
         padding-top: 90px;
         color: black;
         text-decoration: none;
         font-size: 25px;
         margin: 0;
         padding: 0;
         background-color: rgb(25, 210, 25);
         border-radius: 30px;
         margin-bottom: -100px;
       }
 
       .linkje :hover{
         background-color: greenyellow;
       }
       
     
      @media screen and (width: 768px) {
       nav{
         width: 100%;
 
       }
       nav li a{
        
         padding: 25px 50px;
         
       }
       
       
      }
      form{
        margin-left: 500px;
        background-color: rgb(217, 204, 204);
        width: 400px;
        position: fixed;
      }
      label{
        text-align: center;
      }
      
 
     
     
 
     
     