body{
    background-color: gray;
    width: 100%;
    background-repeat: no-repeat;
}
img{
    z-index: -1;
    float: right;
    width: 1000px;
    height: 600px;
    margin-bottom: 100px;
}
p{
    font-size: 20px;
}
nav{
    display: inline
}
 .text li{
    float: left;
}
    
    .text ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;

    }
   .text li a {
        display: block;
        color: white;
        text-align: center;
        padding: 30px 60px;
        text-decoration: none;
      }
     .text li a:hover {
        background-color: forestgreen;
      }
