body{
    background-color: gray;
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0px;
}
nav {
    display: flex;
    flex-direction: row;
    
}
 nav ul{
  display: flex;
  flex-direction: row;
  float: left;
 }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;

    }
   nav li a{
        display: inline;
        color: white;
        float: right;
        text-align: center;
        padding: 25px 40px;
        text-decoration: none;
      }
     nav li a:hover {
        background-color: forestgreen;
      }
img{
    float: right;
    width: 400px;
    height: 350px;
    margin-bottom: 100px;
}
#linkj{
    text-decoration: none;
    color: lightgreen;
}
#linkj a:hover{
    background-color: aqua;
    border-radius: 5px;
}